Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include|tests)/'
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: '^(i|j|k|fd)$'
  readability-magic-numbers.IgnoredIntegerValues: '0;1;2'
