Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*/(src|tests|ebpf)/.*'
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: '^(i|j|k|fd)$'
  readability-magic-numbers.IgnoredIntegerValues: '0;1;2'
